<!DOCTYPE html>
  <% include partials/header %>
  <body>
  <div> <!-- works like a folder / group -->
  <h1>Welcome to MedTrack</h1>
  <a href="/register" class="btn btn-danger">Register</a>  <!--Creating an ancher type-->
  <a href="/patients" class="btn btn-danger">Login</a> <!--Creating an ancher type-->

  <!-- <button type="button" class="btn btn-danger">Danger</button>  <! how to create a button - their are many other in bootstrap library -->
    </div>
 <% include partials/footer %>
