body {
    margin: 80px;
    text-align: center; /*This is for styling properties*/
}

/* Example if we want to change and do our own customized */
/* .loginbutton{
  background-color: #ff0000; /* Green */
    /* border: solid;
    color: black;
    padding: 15px 32px 10px 12px;
} */
